/* Master Stylesheet */
/* :: 1.0 Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
/* :: 2.0 Import All CSS Plugins */
@import url(css/bootstrap.min.css);
@import url(css/classy-nav.css);
@import url(css/font-awesome.min.css);
@import url(css/themify-icons.css);
@import url(css/owl.carousel.min.css);
@import url(css/animate.css);
@import url(css/magnific-popup.css);
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #222627;
  color: #a6a6a6; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #ffffff !important;
  line-height: 1.3;
  font-weight: 500; }

p {
  font-family: "Roboto", sans-serif;
  color: #a6a6a6;
  font-size: 14px;
  line-height: 2;
  font-weight: 400; }

a,
a:hover,
a:focus {
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  text-decoration: none;
  outline: 0 solid transparent;
  color: #a6a6a6;
  font-weight: 500;
  /* font-size: 14px; */
  font-family: "Roboto", sans-serif; }

ul {
  margin: 0; }
  ul li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.bg-white {
  background-color: #ffffff !important; }

.bg-dark {
  background-color: #000000 !important; }

.bg-transparent {
  background-color: transparent !important; }

.bg-gray {
  background-color: #f2f4f5; }

.font-bold {
  font-weight: 700; }

.font-light {
  font-weight: 300; }

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover; }
  .bg-overlay::after {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ""; }

.bg-fixed {
  background-attachment: fixed !important; }

input:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent; }

.mt-15 {
  margin-top: 15px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-80 {
  margin-bottom: 80px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-50 {
  margin-right: 50px !important; }

.p-15 {
  padding: 15px !important; }

.p-30 {
  padding: 30px !important; }

.p-50 {
  padding: 50px !important; }

.pb-70 {
  padding-bottom: 70px !important; }

.px-30 {
  padding-left: 30px !important;
  padding-right: 30px !important; }

.pt-30 {
  padding-top: 30px; }

.section-padding-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.section-padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0; }

.section-padding-0-80 {
  padding-top: 0;
  padding-bottom: 80px; }

.preloader {
  background-color: #222627;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ffffff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite; }

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  text-align: center; }
  .section-heading h4 {
    font-weight: 700;
    margin-bottom: 10px; }
    @media only screen and (max-width: 767px) {
      .section-heading h4 {
        font-size: 20px; } }
  .section-heading .line {
    width: 150px;
    height: 1px;
    background-color: #4e5152;
    margin: 0 auto;
    position: relative;
    z-index: 1; }
    .section-heading .line::after {
      width: 60px;
      height: 2px;
      background-color: #db4437;
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -30px; }
  .section-heading.style-2 {
    text-align: left; }
    .section-heading.style-2 .line {
      width: 100%; }
      .section-heading.style-2 .line::after {
        left: 0;
        margin-left: 0; }

#scrollUp {
  background-color: #0f1112;
  border-radius: 0;
  bottom: 50px;
  color: #ffffff;
  font-size: 14px;
  height: 40px;
  line-height: 42px;
  right: 50px;
  text-align: center;
  width: 40px;
  border-radius: 0%;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15); }
  #scrollUp:hover, #scrollUp:focus {
    background-color: #db4437;
    color: #ffffff; }
  @media only screen and (max-width: 767px) {
    #scrollUp {
      bottom: 30px;
      right: 30px;
      line-height: 32px;
      width: 30px;
      height: 30px; } }

.vizew-btn {
  background-color: #db4437;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 160px;
  height: 50px;
  color: #ffffff;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 50px;
  font-weight: 500;
  text-transform: capitalize; }
  .vizew-btn:hover, .vizew-btn:focus {
    font-size: 16px;
    font-weight: 500;
    background-color: #0f1112;
    color: #ffffff;
    box-shadow: none; }

.top-header-area {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 50px; }
  @media only screen and (max-width: 767px) {
    .top-header-area {
      height: auto; } }
  .top-header-area .breaking-news-area {
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 767px) {
      .top-header-area .breaking-news-area {
        height: 50px;
        border-bottom: 1px solid #393c3d; } }
    .top-header-area .breaking-news-area .news-title {
      min-width: 115px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .top-header-area .breaking-news-area .news-title {
          min-width: 100px; } }
      @media only screen and (max-width: 767px) {
        .top-header-area .breaking-news-area .news-title {
          min-width: 100px; } }
      .top-header-area .breaking-news-area .news-title p {
        margin-bottom: 0;
        font-weight: 500;
        color: #db4437;
        text-transform: uppercase; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .top-header-area .breaking-news-area .news-title p {
            font-size: 12px; } }
        @media only screen and (max-width: 767px) {
          .top-header-area .breaking-news-area .news-title p {
            font-size: 12px; } }
    .top-header-area .breaking-news-area .ticker {
      width: 100%;
      text-align: left;
      position: relative;
      overflow: hidden;
      padding-left: 15px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .top-header-area .breaking-news-area .ticker {
          padding-left: 8px; } }
      .top-header-area .breaking-news-area .ticker ul {
        width: 100%;
        position: relative;
        z-index: 1; }
        .top-header-area .breaking-news-area .ticker ul li {
          display: none;
          width: 100%;
          font-weight: 400; }
          .top-header-area .breaking-news-area .ticker ul li a {
            display: block;
            color: #a6a6a6; }
            @media only screen and (min-width: 992px) and (max-width: 1199px) {
              .top-header-area .breaking-news-area .ticker ul li a {
                font-size: 12px; } }
            @media only screen and (min-width: 768px) and (max-width: 991px) {
              .top-header-area .breaking-news-area .ticker ul li a {
                font-size: 11px; } }
            @media only screen and (max-width: 767px) {
              .top-header-area .breaking-news-area .ticker ul li a {
                font-size: 12px; } }
            .top-header-area .breaking-news-area .ticker ul li a:hover, .top-header-area .breaking-news-area .ticker ul li a:focus {
              color: #db4437; }
  .top-header-area .top-social-info {
    position: relative;
    z-index: 1;
    margin-right: 15px; }
    .top-header-area .top-social-info a {
      display: inline-block;
      padding: 0 15px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .top-header-area .top-social-info a {
          padding: 0 8px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .top-header-area .top-social-info a {
          padding: 0 5px;
          font-size: 13px; } }
      @media only screen and (max-width: 767px) {
        .top-header-area .top-social-info a {
          padding: 0 5px;
          font-size: 12px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .top-header-area .top-social-info a {
          padding: 0 10px; } }
      .top-header-area .top-social-info a:hover, .top-header-area .top-social-info a:focus {
        color: #db4437; }
  .top-header-area .top-search-area {
    position: relative;
    z-index: 1; }
    .top-header-area .top-search-area form {
      position: relative;
      z-index: 1;
      border-left: 1px solid #393c3d;
      border-right: 1px solid #393c3d; }
      @media only screen and (max-width: 767px) {
        .top-header-area .top-search-area form {
          border-left: none;
          border-right: none; } }
      .top-header-area .top-search-area form input {
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 250px;
        height: 50px;
        border: none;
        color: #a6a6a6;
        font-size: 14px;
        font-style: italic;
        padding: 0 20px;
        background-color: transparent; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .top-header-area .top-search-area form input {
            width: 200px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .top-header-area .top-search-area form input {
            width: 150px; } }
        @media only screen and (max-width: 767px) {
          .top-header-area .top-search-area form input {
            width: 115px;
            padding: 0; } }
        @media only screen and (min-width: 480px) and (max-width: 767px) {
          .top-header-area .top-search-area form input {
            width: 230px;
            padding: 0; } }
        @media only screen and (min-width: 576px) and (max-width: 767px) {
          .top-header-area .top-search-area form input {
            width: 260px;
            padding: 0; } }
        .top-header-area .top-search-area form input:focus {
          box-shadow: none; }
      .top-header-area .top-search-area form button {
        position: absolute;
        width: auto;
        height: 50px;
        background-color: transparent;
        top: 50%;
        right: 20px;
        font-size: 16px;
        z-index: 99;
        border: none;
        cursor: pointer;
        color: #ffffff;
        padding: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .top-header-area .top-search-area form button:focus {
          box-shadow: none; }
        .top-header-area .top-search-area form button:hover {
          color: #db4437; }
  .top-header-area .login-btn {
    position: relative;
    z-index: 1;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    text-align: center; }
    .top-header-area .login-btn:hover, .top-header-area .login-btn:focus {
      color: #db4437; }

.header-area {
  position: relative;
  z-index: 1000;
  width: 100%; }
  .header-area .vizew-main-menu {
    position: relative;
    width: 100%; }
    .header-area .vizew-main-menu .classy-nav-container {
      background-color: #db4437; }
    .header-area .vizew-main-menu .classy-navbar {
      padding: 0;
      height: 90px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header-area .vizew-main-menu .classy-navbar {
          height: 70px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .header-area .vizew-main-menu .classy-navbar {
          height: 70px; } }
      @media only screen and (max-width: 767px) {
        .header-area .vizew-main-menu .classy-navbar {
          height: 60px; } }
      .header-area .vizew-main-menu .classy-navbar .nav-brand {
        max-width: 150px; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .header-area .vizew-main-menu .classy-navbar .nav-brand {
            max-width: 120px; } }
        @media only screen and (max-width: 767px) {
          .header-area .vizew-main-menu .classy-navbar .nav-brand {
            max-width: 110px; } }
      .header-area .vizew-main-menu .classy-navbar .classynav ul li a {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 16px;
        color: #ffffff;
        height: 90px;
        line-height: 90px;
        border-bottom: 3px solid transparent; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .header-area .vizew-main-menu .classy-navbar .classynav ul li a {
            height: 70px;
            line-height: 70px;
            font-size: 14px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .header-area .vizew-main-menu .classy-navbar .classynav ul li a {
            height: 35px;
            line-height: 35px;
            font-size: 14px;
            background-color: #222627;
            border-bottom: none; } }
        @media only screen and (max-width: 767px) {
          .header-area .vizew-main-menu .classy-navbar .classynav ul li a {
            height: 35px;
            line-height: 35px;
            font-size: 14px;
            background-color: #222627;
            border-bottom: none; } }
        .header-area .vizew-main-menu .classy-navbar .classynav ul li a:hover, .header-area .vizew-main-menu .classy-navbar .classynav ul li a:focus {
          color: #0f1112;
          border-bottom-color: #ffffff; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .header-area .vizew-main-menu .classy-navbar .classynav ul li a:hover, .header-area .vizew-main-menu .classy-navbar .classynav ul li a:focus {
              color: #db4437; } }
          @media only screen and (max-width: 767px) {
            .header-area .vizew-main-menu .classy-navbar .classynav ul li a:hover, .header-area .vizew-main-menu .classy-navbar .classynav ul li a:focus {
              color: #db4437; } }
        .header-area .vizew-main-menu .classy-navbar .classynav ul li a::after {
          color: #ffffff; }
      .header-area .vizew-main-menu .classy-navbar .classynav ul li ul li a {
        text-transform: capitalize;
        padding: 0 20px;
        font-size: 14px;
        color: #0f1112;
        line-height: 34px;
        height: 35px; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .header-area .vizew-main-menu .classy-navbar .classynav ul li ul li a {
            color: #a6a6a6; } }
        @media only screen and (max-width: 767px) {
          .header-area .vizew-main-menu .classy-navbar .classynav ul li ul li a {
            color: #a6a6a6; } }
        .header-area .vizew-main-menu .classy-navbar .classynav ul li ul li a::after {
          color: #0f1112; }
        .header-area .vizew-main-menu .classy-navbar .classynav ul li ul li a:hover, .header-area .vizew-main-menu .classy-navbar .classynav ul li ul li a:focus {
          color: #db4437; }
      .header-area .vizew-main-menu .classy-navbar .classynav ul li.active a {
        border-bottom-color: #ffffff; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .header-area .vizew-main-menu .classy-navbar .classynav ul li.active a {
            border-bottom-color: transparent; } }
        @media only screen and (max-width: 767px) {
          .header-area .vizew-main-menu .classy-navbar .classynav ul li.active a {
            border-bottom-color: transparent; } }
  .header-area .classy-navbar-toggler .navbarToggler span {
    background-color: #ffffff; }
  .header-area .is-sticky .vizew-main-menu {
    z-index: 9999;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2); }

.breakpoint-on .classynav {
  padding-top: 70px;
  padding-bottom: 70px; }
.breakpoint-on .classy-navbar .classy-menu {
  background-color: #222627;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.2); }
.breakpoint-on .classynav ul li .megamenu .single-mega.cn-col-4 {
  padding: 0;
  border-bottom: 1px solid #393c3d; }
.breakpoint-on .classycloseIcon .cross-wrap span {
  background: #ffffff; }

.hero-area {
  position: relative;
  z-index: 1;
  width: 100%; }

.vizew-nav-tab {
  position: relative;
  z-index: 1;
  background-color: #393c3d;
  width: 100%;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .vizew-nav-tab {
      height: 400px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .vizew-nav-tab {
      height: 350px; } }
  @media only screen and (max-width: 767px) {
    .vizew-nav-tab {
      height: 300px; } }
  .vizew-nav-tab .nav-link {
    padding: 0;
    padding: 15px 20px;
    border-left: 4px solid transparent; }
    .vizew-nav-tab .nav-link.active {
      background-color: #4d5051;
      border-left-color: #db4437; }

.vizew-breadcrumb {
  position: relative;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 40px; }
  .vizew-breadcrumb .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0; }
    .vizew-breadcrumb .breadcrumb .breadcrumb-item {
      color: #a6a6a6;
      font-size: 16px;
      font-weight: 400; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .vizew-breadcrumb .breadcrumb .breadcrumb-item {
          font-size: 14px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .vizew-breadcrumb .breadcrumb .breadcrumb-item {
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .vizew-breadcrumb .breadcrumb .breadcrumb-item {
          font-size: 12px; } }
      .vizew-breadcrumb .breadcrumb .breadcrumb-item a {
        color: #fff;
        font-size: 16px;
        font-weight: 400; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .vizew-breadcrumb .breadcrumb .breadcrumb-item a {
            font-size: 14px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .vizew-breadcrumb .breadcrumb .breadcrumb-item a {
            font-size: 14px; } }
        @media only screen and (max-width: 767px) {
          .vizew-breadcrumb .breadcrumb .breadcrumb-item a {
            font-size: 12px; } }
        .vizew-breadcrumb .breadcrumb .breadcrumb-item a:hover, .vizew-breadcrumb .breadcrumb .breadcrumb-item a:focus {
          font-weight: 400;
          color: #db4437; }
  .vizew-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "\f105";
    font-family: "FontAwesome";
    color: #fff; }

.single-blog-post {
  position: relative;
  z-index: 1;
  margin-bottom: 20px; }
  .single-blog-post:last-child {
    margin-bottom: 0; }
  .single-blog-post .post-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    max-width: 100px;
    width: 100px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-blog-post .post-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-blog-post .post-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px; } }
    @media only screen and (max-width: 767px) {
      .single-blog-post .post-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px; } }
    .single-blog-post .post-thumbnail img {
      width: 100%; }
  .single-blog-post .post-content {
    position: relative;
    z-index: 1;
    padding-left: 20px; }
    .single-blog-post .post-content .post-title {
      color: #ffffff;
      margin-bottom: 5px;
      display: block;
      font-size: 16px;
      font-weight: 700; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-blog-post .post-content .post-title {
          font-size: 14px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-blog-post .post-content .post-title {
          font-size: 13px; } }
      @media only screen and (max-width: 767px) {
        .single-blog-post .post-content .post-title {
          font-size: 13px; } }
      .single-blog-post .post-content .post-title:hover, .single-blog-post .post-content .post-title:hover {
        color: #db4437; }
    .single-blog-post .post-content .post-meta a {
      display: inline-block;
      color: #595959;
      font-size: 12px; }
      .single-blog-post .post-content .post-meta a:hover, .single-blog-post .post-content .post-meta a:hover {
        color: #ffffff; }
  .single-blog-post.style-2 {
    margin-bottom: 0; }
    .single-blog-post.style-2 .post-thumbnail {
      position: relative;
      z-index: 1;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
      flex: 0 0 110px;
      max-width: 110px;
      width: 110px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-blog-post.style-2 .post-thumbnail {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 80px;
          flex: 0 0 80px;
          max-width: 80px;
          width: 80px; } }
      @media only screen and (max-width: 767px) {
        .single-blog-post.style-2 .post-thumbnail {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 80px;
          flex: 0 0 80px;
          max-width: 80px;
          width: 80px; } }
      .single-blog-post.style-2 .post-thumbnail img {
        width: 100%; }
    .single-blog-post.style-2 .post-content {
      position: relative;
      z-index: 1;
      padding-left: 20px; }
      .single-blog-post.style-2 .post-content .post-title {
        color: #ffffff;
        margin-bottom: 10px;
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .single-blog-post.style-2 .post-content .post-title {
            font-size: 14px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .single-blog-post.style-2 .post-content .post-title {
            font-size: 13px; } }
        @media only screen and (max-width: 767px) {
          .single-blog-post.style-2 .post-content .post-title {
            font-size: 13px; } }
      .single-blog-post.style-2 .post-content .post-meta span {
        display: inline-block;
        color: #a6a6a6;
        font-size: 12px; }
  .single-blog-post.style-3 {
    margin-bottom: 0; }
    .single-blog-post.style-3 .post-thumbnail {
      position: relative;
      z-index: 1;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
      flex: 0 0 140px;
      max-width: 140px;
      width: 140px; }
      @media only screen and (max-width: 767px) {
        .single-blog-post.style-3 .post-thumbnail {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100px;
          flex: 0 0 100px;
          max-width: 100px;
          width: 100px; } }
    .single-blog-post.style-3 .post-content .post-title {
      color: #ffffff;
      margin-bottom: 15px;
      display: block;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.5; }
      @media only screen and (max-width: 767px) {
        .single-blog-post.style-3 .post-content .post-title {
          font-size: 14px; } }
      .single-blog-post.style-3 .post-content .post-title:hover, .single-blog-post.style-3 .post-content .post-title:hover {
        color: #db4437; }
    .single-blog-post.style-3 .post-content .post-meta span {
      display: inline-block;
      color: #a6a6a6;
      font-size: 12px; }

.single-feature-post.video-post {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 500px; }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-feature-post.video-post {
      height: 400px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-feature-post.video-post {
      height: 350px; } }
  @media only screen and (max-width: 767px) {
    .single-feature-post.video-post {
      height: 320px; } }
  .single-feature-post.video-post::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    z-index: 5;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%); }
  .single-feature-post.video-post .play-btn {
    position: absolute;
    margin-top: -30px;
    margin-left: -30px;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    background-color: #db4437;
    border-radius: 50%;
    color: #ffffff;
    line-height: 60px;
    text-align: center;
    padding: 0 0 0 3px;
    z-index: 99; }
    @media only screen and (max-width: 767px) {
      .single-feature-post.video-post .play-btn {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px; } }
    .single-feature-post.video-post .play-btn:hover, .single-feature-post.video-post .play-btn:focus {
      background-color: #0f1112; }
  .single-feature-post.video-post .post-content {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 59;
    width: 80%; }
    @media only screen and (max-width: 767px) {
      .single-feature-post.video-post .post-content {
        left: 15px;
        bottom: 15px; } }
    .single-feature-post.video-post .post-content .post-title {
      font-size: 24px;
      display: block;
      color: #ffffff;
      margin-bottom: 10px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-feature-post.video-post .post-content .post-title {
          font-size: 18px; } }
      @media only screen and (max-width: 767px) {
        .single-feature-post.video-post .post-content .post-title {
          font-size: 16px; } }
      .single-feature-post.video-post .post-content .post-title:hover, .single-feature-post.video-post .post-content .post-title:focus {
        color: #db4437; }
    .single-feature-post.video-post .post-content .post-meta {
      position: relative;
      z-index: 1; }
      .single-feature-post.video-post .post-content .post-meta a {
        display: inline-block;
        margin-right: 30px;
        color: #ffffff; }
        .single-feature-post.video-post .post-content .post-meta a:hover, .single-feature-post.video-post .post-content .post-meta a:focus {
          color: #db4437; }
  .single-feature-post.video-post .video-duration {
    display: inline-block;
    position: absolute;
    right: 30px;
    bottom: 30px;
    background-color: #0f1112;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 14px;
    color: #ffffff;
    line-height: 1;
    z-index: 79; }

.post-cata {
  background-color: #db4437;
  padding: 8px 15px 6px;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  line-height: 1;
  margin-bottom: 15px;
  display: inline-block; }
  .post-cata.cata-success {
    background-color: #3cb878; }
  .post-cata.cata-danger {
    background-color: #db4437; }
  .post-cata.cata-primary {
		background-color: #1996ce; }
	.post-cata.cata-secondary {
		background-color: #545b62; }
	.post-cata.cata-warning {
		background-color: #d39e00; }
	.post-cata.cata-info {
		background-color: #117a8b; }
	.post-cata.cata-dark {
		background-color: #343a40; }
  .post-cata:hover, .post-cata:focus {
    /* background-color: #0f1112; */
    font-size: 12px; }
  .post-cata.cata-sm {
    font-size: 10px; }
    .post-cata.cata-sm:hover, .post-cata.cata-sm:focus {
      /* background-color: #0f1112; */
      font-size: 10px; }

.single-post-area {
  position: relative;
  z-index: 1; }
  .single-post-area .post-thumbnail {
    position: relative;
    z-index: 1; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-post-area .post-thumbnail {
        margin-bottom: 30px; } }
    @media only screen and (max-width: 767px) {
      .single-post-area .post-thumbnail {
        margin-bottom: 30px; } }
    .single-post-area .post-thumbnail .video-duration {
      display: inline-block;
      position: absolute;
      right: 15px;
      bottom: 15px;
      background-color: #0f1112;
      padding: 6px 10px;
      border-radius: 2px;
      font-size: 14px;
      color: #ffffff;
      line-height: 1;
      z-index: 79; }
  .single-post-area .post-content {
    position: relative;
    z-index: 1;
    margin-top: 20px; }
    .single-post-area .post-content .post-title {
      display: block;
      color: #ffffff;
      margin-bottom: 15px;
      font-size: 20px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-post-area .post-content .post-title {
          font-size: 18px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .single-post-area .post-content .post-title {
          font-size: 16px; } }
      @media only screen and (max-width: 767px) {
        .single-post-area .post-content .post-title {
          font-size: 18px; } }
      .single-post-area .post-content .post-title:hover, .single-post-area .post-content .post-title:focus {
        color: #db4437; }
    .single-post-area .post-content .post-meta a {
      display: inline-block;
      margin-right: 20px; }
      .single-post-area .post-content .post-meta a:hover, .single-post-area .post-content .post-meta a:focus {
        color: #db4437; }
      .single-post-area .post-content .post-meta a:last-child {
        margin-right: 0; }
    .single-post-area .post-content .post-meta .post-author {
      color: #595959; }
    .single-post-area .post-content .post-meta .post-date {
      color: #595959; }
    .single-post-area .post-content .post-meta i.fa-circle {
      color: #a6a6a6;
      font-size: 6px;
      margin-right: 20px; }
  .single-post-area.style-2 {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #393c3d; }

.featured-post-slides,
.sport-video-slides,
.business-video-slides {
  position: relative;
  z-index: 1; }
  .featured-post-slides .owl-prev,
  .featured-post-slides .owl-next,
  .sport-video-slides .owl-prev,
  .sport-video-slides .owl-next,
  .business-video-slides .owl-prev,
  .business-video-slides .owl-next {
    background-color: #1b1e1f;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    top: -88px;
    right: 38px; }
    .featured-post-slides .owl-prev:hover, .featured-post-slides .owl-prev:focus,
    .featured-post-slides .owl-next:hover,
    .featured-post-slides .owl-next:focus,
    .sport-video-slides .owl-prev:hover,
    .sport-video-slides .owl-prev:focus,
    .sport-video-slides .owl-next:hover,
    .sport-video-slides .owl-next:focus,
    .business-video-slides .owl-prev:hover,
    .business-video-slides .owl-prev:focus,
    .business-video-slides .owl-next:hover,
    .business-video-slides .owl-next:focus {
      background-color: #0e0f10; }
  .featured-post-slides .owl-next,
  .sport-video-slides .owl-next,
  .business-video-slides .owl-next {
    right: 0; }

.archive-catagory-view {
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
  border-bottom: 1px solid #393c3d; }
  .archive-catagory-view .archive-catagory h4 {
    font-weight: 400;
    margin-bottom: 0; }
    .archive-catagory-view .archive-catagory h4 i {
      color: #db4437; }
  .archive-catagory-view .view-options a {
    display: inline-block;
    background-color: #393c3d;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    line-height: 30px; }
    .archive-catagory-view .view-options a.active, .archive-catagory-view .view-options a:hover, .archive-catagory-view .view-options a:focus {
      background-color: #ffffff;
      color: #db4437; }
    .archive-catagory-view .view-options a.active {
      pointer-events: none; }

.pagination {
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .pagination {
      margin-bottom: 80px; } }
  @media only screen and (max-width: 767px) {
    .pagination {
      margin-bottom: 80px; } }
  .pagination .page-item .page-link {
    background-color: #393c3d;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #a6a6a6;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    padding: 0 15px;
    margin-right: 5px;
    border: none; }
    .pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus {
      background-color: #ffffff;
      color: #db4437; }
  .pagination .page-item.active .page-link {
    background-color: #ffffff;
    color: #db4437; }

.vizew-blockquote {
  position: relative;
  z-index: 1;
  background-color: #181b1b;
  padding: 30px 90px 30px 30px; }
  .vizew-blockquote::after {
    content: '\f10e';
    font-family: "FontAwesome";
    color: #ffffff;
    font-size: 42px;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1; }
  .vizew-blockquote .blockquote-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    font-style: italic;
    margin-bottom: 15px; }
    @media only screen and (max-width: 767px) {
      .vizew-blockquote .blockquote-text {
        font-size: 16px; } }

.unordered-list {
  position: relative;
  z-index: 1; }
  .unordered-list li {
    position: relative;
    z-index: 1;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 767px) {
      .unordered-list li {
        font-size: 14px; } }
    .unordered-list li:last-child {
      margin-bottom: 0; }
    .unordered-list li::after {
      position: absolute;
      top: 5px;
      left: 0;
      z-index: 2;
      content: '\f111';
      font-family: 'FontAwesome';
      font-size: 8px; }

.ordered-list {
  position: relative;
  z-index: 1;
  padding-left: 15px; }
  .ordered-list li {
    position: relative;
    z-index: 1;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 10px; }
    .ordered-list li:last-child {
      margin-bottom: 0; }

.single-video-area {
  position: relative;
  z-index: 1;
  margin-bottom: 60px; }
  .single-video-area iframe {
    width: 100%;
    height: 600px !important;
    border: none; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-video-area iframe {
        height: 550px !important; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-video-area iframe {
        height: 400px !important; } }
    @media only screen and (max-width: 767px) {
      .single-video-area iframe {
        height: 220px !important; } }

.post-details-content {
  position: relative;
  z-index: 1; }
  .post-details-content .post-share-info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
    max-width: 90px;
    width: 90px; }
    @media only screen and (max-width: 767px) {
      .post-details-content .post-share-info {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
        max-width: 40px;
        width: 40px; } }
    .post-details-content .post-share-info p {
      color: #ffffff;
      font-weight: 500;
      letter-spacing: 1px; }
      @media only screen and (max-width: 767px) {
        .post-details-content .post-share-info p {
          font-size: 12px;
          letter-spacing: 0; } }
    .post-details-content .post-share-info a {
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #ffffff;
      text-align: center;
      line-height: 40px;
      background-color: #db4437;
      margin-bottom: 10px;
      font-size: 16px; }
      @media only screen and (max-width: 767px) {
        .post-details-content .post-share-info a {
          width: 30px;
          height: 30px;
          line-height: 30px;
          font-size: 13px; } }
      .post-details-content .post-share-info a.facebook {
        background-color: #4c65a8; }
      .post-details-content .post-share-info a.twitter {
        background-color: #41a1f6; }
      .post-details-content .post-share-info a.google-plus {
        background-color: #f43535; }
      .post-details-content .post-share-info a.instagram {
        background-color: #8f6247; }
      .post-details-content .post-share-info a.thumb-tack {
        background-color: #f0c605; }
      .post-details-content .post-share-info a:hover, .post-details-content .post-share-info a:focus {
        background-color: #db4437; }
  .post-details-content .post-content {
    position: relative;
    z-index: 1;
    margin-top: 20px; }
    .post-details-content .post-content .post-title {
      display: block;
      color: #ffffff;
      margin-bottom: 15px;
      font-size: 24px; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .post-details-content .post-content .post-title {
          font-size: 20px; } }
      @media only screen and (max-width: 767px) {
        .post-details-content .post-content .post-title {
          font-size: 18px; } }
      .post-details-content .post-content .post-title:hover, .post-details-content .post-content .post-title:focus {
        color: #db4437; }
    .post-details-content .post-content .post-meta a {
      display: inline-block;
      margin-right: 20px; }
      @media only screen and (max-width: 767px) {
        .post-details-content .post-content .post-meta a {
          margin-right: 8px;
          font-size: 12px; } }
      .post-details-content .post-content .post-meta a:hover, .post-details-content .post-content .post-meta a:focus {
        color: #db4437; }
      .post-details-content .post-content .post-meta a:last-child {
        margin-right: 0; }
    .post-details-content .post-content .post-meta .post-author {
      color: #595959; }
    .post-details-content .post-content .post-meta .post-date {
      color: #595959; }
    .post-details-content .post-content .post-meta i.fa-circle {
      color: #a6a6a6;
      font-size: 6px;
      margin-right: 20px; }
      @media only screen and (max-width: 767px) {
        .post-details-content .post-content .post-meta i.fa-circle {
          margin-right: 8px; } }

.post-tags {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #393c3d;
  border-top: 1px solid #393c3d;
  padding: 40px 0; }
  .post-tags ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .post-tags ul li a {
      display: inline-block;
      background-color: #393c3d;
      padding: 5px 12px;
      border-radius: 2px;
      font-size: 12px;
      text-transform: uppercase;
      color: #a6a6a6;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 3px; }
      .post-tags ul li a:hover, .post-tags ul li a:focus {
        background-color: #db4437;
        color: #ffffff; }

.vizew-post-author {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #393c3d; }
  .vizew-post-author .post-author-thumb {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    max-width: 120px;
    width: 120px; }
    @media only screen and (max-width: 767px) {
      .vizew-post-author .post-author-thumb {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px; } }
  .vizew-post-author .post-author-desc a {
    display: block;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 767px) {
      .vizew-post-author .post-author-desc a {
        font-size: 16px; } }
  .vizew-post-author .post-author-desc p {
    margin-bottom: 10px; }
    @media only screen and (max-width: 767px) {
      .vizew-post-author .post-author-desc p {
        font-size: 12px; } }
  .vizew-post-author .post-author-desc .post-author-social-info a {
    display: inline-block;
    color: #a6a6a6;
    padding: 0 5px;
    font-size: 14px; }
    .vizew-post-author .post-author-desc .post-author-social-info a:first-child {
      padding-left: 0; }
    .vizew-post-author .post-author-desc .post-author-social-info a:hover, .vizew-post-author .post-author-desc .post-author-social-info a:focus {
      color: #db4437; }

.comment_area {
  position: relative;
  z-index: 1;
  border-top: 1px solid #393c3d;
  border-bottom: 1px solid #393c3d;
  padding-bottom: 50px;
  padding-top: 50px; }
  .comment_area .comment-content .comment-author {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    min-width: 70px;
    margin-right: 20px;
    height: 70px;
    border-radius: 50%; }
    .comment_area .comment-content .comment-author img {
      border-radius: 50%; }
    @media only screen and (max-width: 767px) {
      .comment_area .comment-content .comment-author {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
        flex: 0 0 40px;
        min-width: 40px;
        margin-right: 10px;
        height: 40px; } }
  .comment_area .comment-content .comment-meta {
    margin-bottom: 30px; }
    .comment_area .comment-content .comment-meta .comment-date {
      font-size: 12px;
      color: #a6a6a6;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-bottom: 10px;
      display: block; }
    .comment_area .comment-content .comment-meta h6 {
      margin-bottom: 10px; }
    .comment_area .comment-content .comment-meta p {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 2; }
    .comment_area .comment-content .comment-meta .like,
    .comment_area .comment-content .comment-meta .reply {
      background-color: #393c3d;
      font-size: 12px;
      font-weight: 400;
      text-transform: capitalize;
      letter-spacing: 1px;
      height: 30px;
      padding: 0 15px;
      border-radius: 2px;
      line-height: 30px;
      text-align: center;
      margin-right: 15px;
      color: #ffffff; }
      .comment_area .comment-content .comment-meta .like:last-child,
      .comment_area .comment-content .comment-meta .reply:last-child {
        margin-right: 0; }
      .comment_area .comment-content .comment-meta .like:hover,
      .comment_area .comment-content .comment-meta .reply:hover {
        background-color: #db4437; }
      @media only screen and (max-width: 767px) {
        .comment_area .comment-content .comment-meta .like,
        .comment_area .comment-content .comment-meta .reply {
          margin-right: 5px; } }
  .comment_area .single_comment_area {
    margin-bottom: 30px; }
    .comment_area .single_comment_area:last-of-type {
      margin-bottom: 0; }
  .comment_area .children .single_comment_area {
    margin-left: 50px;
    margin-top: 30px; }
    @media only screen and (max-width: 767px) {
      .comment_area .children .single_comment_area {
        margin-left: 15px; } }

.pager-article {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  position: relative;
  z-index: 1;
  width: 500px !important;
  height: 320px !important;
  z-index: 9999;
  opacity: 0;
  visibility: hidden; }
  @media only screen and (max-width: 767px) {
    .pager-article {
      width: 300px !important;
      height: 220px !important; } }
  .pager-article .post-title {
    font-size: 20px !important; }
    @media only screen and (max-width: 767px) {
      .pager-article .post-title {
        font-size: 14px !important; } }

.vizew-pager-prev,
.vizew-pager-next {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 0;
  width: 60px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .vizew-pager-prev p,
  .vizew-pager-next p {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    cursor: pointer;
    position: absolute;
    width: 270px;
    height: 60px;
    background-color: #181b1b;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #ffffff;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    top: 41%;
    margin-bottom: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: -105px;
    z-index: 1; }
    @media only screen and (max-width: 767px) {
      .vizew-pager-prev p,
      .vizew-pager-next p {
        width: 220px;
        height: 40px;
        font-size: 14px;
        left: -90px;
        line-height: 40px; } }
  .vizew-pager-prev:hover,
  .vizew-pager-next:hover {
    width: 500px; }
    @media only screen and (max-width: 767px) {
      .vizew-pager-prev:hover,
      .vizew-pager-next:hover {
        width: 300px; } }
    .vizew-pager-prev:hover .pager-article,
    .vizew-pager-next:hover .pager-article {
      opacity: 1;
      visibility: visible; }

.vizew-pager-next {
  right: 0;
  left: auto; }
  .vizew-pager-next p {
    left: auto;
    right: -105px; }
    @media only screen and (max-width: 767px) {
      .vizew-pager-next p {
        right: -90px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .vizew-archive-list-posts-area .single-post-area .post-thumbnail {
    margin-bottom: 0; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .post-a-comment-area {
    margin-bottom: 80px; } }
@media only screen and (max-width: 767px) {
  .post-a-comment-area {
    margin-bottom: 80px; } }

.single-widget {
  position: relative;
  z-index: 1;
  border: 1px solid #393c3d;
  border-radius: 3px;
  padding: 40px 30px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .single-widget {
      padding: 30px 20px; } }
  @media only screen and (max-width: 767px) {
    .single-widget {
      padding: 30px 20px; } }

.followers-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .followers-widget a {
    width: 85px;
    display: inline-block;
    height: auto;
    padding: 15px 5px;
    background-color: #db4437;
    color: #ffffff; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .followers-widget a {
        width: 70px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .followers-widget a {
        width: 65px; } }
    @media only screen and (max-width: 767px) {
      .followers-widget a {
        width: 70px; } }
    .followers-widget a.facebook {
      background-color: #39579a; }
    .followers-widget a.twitter {
      background-color: #55acee; }
    .followers-widget a.google {
      background-color: #dd4b39; }
    .followers-widget a i,
    .followers-widget a span {
      display: block;
      text-align: center;
      font-weight: 700; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .followers-widget a i,
        .followers-widget a span {
          font-size: 12px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .followers-widget a i,
        .followers-widget a span {
          font-size: 12px; } }
      @media only screen and (max-width: 767px) {
        .followers-widget a i,
        .followers-widget a span {
          font-size: 12px; } }
    .followers-widget a i {
      font-size: 18px;
      margin-bottom: 8px; }
    .followers-widget a span.counter {
      font-size: 18px; }

.newsletter-widget .newsletter-form {
  position: relative;
  z-index: 1; }
  .newsletter-widget .newsletter-form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 0;
    text-align: center;
    font-size: 12px; }
    .newsletter-widget .newsletter-form input:focus {
      box-shadow: none; }

.single-youtube-channel {
  position: relative;
  z-index: 1;
  margin-bottom: 30px; }
  .single-youtube-channel:last-child {
    margin-bottom: 0; }
  .single-youtube-channel .youtube-channel-thumbnail {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 110px;
    flex: 0 0 110px;
    max-width: 110px;
    width: 110px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-youtube-channel .youtube-channel-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single-youtube-channel .youtube-channel-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
        flex: 0 0 70px;
        max-width: 70px;
        width: 70px; } }
    @media only screen and (max-width: 767px) {
      .single-youtube-channel .youtube-channel-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        max-width: 80px;
        width: 80px; } }
  .single-youtube-channel .youtube-channel-content {
    padding-left: 20px; }
    .single-youtube-channel .youtube-channel-content .channel-title {
      text-transform: uppercase;
      font-size: 14px;
      color: #ffffff;
      margin-bottom: 8px;
      display: block; }
      @media only screen and (max-width: 767px) {
        .single-youtube-channel .youtube-channel-content .channel-title {
          font-size: 12px; } }
    .single-youtube-channel .youtube-channel-content .subscribe-btn {
      width: 130px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      background-color: #db4437;
      border-radius: 3px;
      padding: 0;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500; }
      .single-youtube-channel .youtube-channel-content .subscribe-btn:hover, .single-youtube-channel .youtube-channel-content .subscribe-btn:focus {
        font-size: 14px;
        font-weight: 500;
        background-color: #0f1112; }

.share-post-widget {
  position: relative;
  z-index: 1; }
  .share-post-widget p {
    display: block;
    color: #ffffff;
    margin-bottom: 20px;
    letter-spacing: 2px; }
  .share-post-widget a {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #db4437;
    border-radius: 50px;
    margin-bottom: 15px;
    color: #ffffff;
    line-height: 40px;
    text-align: center; }
    .share-post-widget a i {
      margin-right: 10px; }
    .share-post-widget a:last-child {
      margin-bottom: 0; }
    .share-post-widget a.facebook {
      background-color: #4c65a8; }
    .share-post-widget a.twitter {
      background-color: #41a1f6; }
    .share-post-widget a.google {
      background-color: #f43535; }
    .share-post-widget a:hover, .share-post-widget a:focus {
      background-color: #db4437; }

.author-widget {
  position: relative;
  z-index: 1;
  text-align: center; }
  .author-widget .author-avatar {
    margin: 0 auto 20px;
    width: 120px;
    height: 120px;
    display: block;
    border-radius: 50%; }
  .author-widget .author-name {
    display: block;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 15px; }
    .author-widget .author-name:hover, .author-widget .author-name:focus {
      color: #db4437; }
  .author-widget .author-social-info {
    position: relative;
    z-index: 1;
    margin-bottom: 10px; }
    .author-widget .author-social-info a {
      display: inline-block;
      padding: 0 8px; }
  .author-widget p {
    color: #ffffff; }
  .author-widget .authors--meta-data {
    border-top: 1px solid #393c3d; }
    .author-widget .authors--meta-data p {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      width: 50%;
      margin-bottom: 0;
      padding: 30px 10px;
      border-right: 1px solid #393c3d; }
      .author-widget .authors--meta-data p:last-child {
        border-right: none; }
      .author-widget .authors--meta-data p span {
        font-size: 16px;
        display: block;
        font-weight: 500; }

.add-widget img {
  width: 100%; }

.footer-area {
  position: relative;
  z-index: 1;
  background-color: #191c1d;
  padding-top: 70px; }
  .footer-area .footer-widget {
    position: relative;
    z-index: 1; }
    .footer-area .footer-widget .widget-title {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px; }
    .footer-area .footer-widget .single-twit {
      position: relative;
      z-index: 1;
      margin-bottom: 15px; }
      .footer-area .footer-widget .single-twit:last-child {
        margin-bottom: 0; }
      .footer-area .footer-widget .single-twit p {
        margin-bottom: 0; }
        .footer-area .footer-widget .single-twit p i {
          color: #db4437; }
        .footer-area .footer-widget .single-twit p span {
          color: #ffffff; }
    .footer-area .footer-widget .footer-social-area {
      position: relative;
      z-index: 1;
      margin-top: 20px; }
      .footer-area .footer-widget .footer-social-area a {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #db4437;
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        font-size: 16px;
        margin-right: 5px; }
        .footer-area .footer-widget .footer-social-area a:last-child {
          margin-right: 0; }
        .footer-area .footer-widget .footer-social-area a.facebook {
          background-color: #597dca; }
        .footer-area .footer-widget .footer-social-area a.twitter {
          background-color: #1da1f2; }
        .footer-area .footer-widget .footer-social-area a.google-plus {
          background-color: #db4437; }
        .footer-area .footer-widget .footer-social-area a.instagram {
          background-color: #a67c52; }
        .footer-area .footer-widget .footer-social-area a.linkedin {
          background-color: #3b5998; }
        .footer-area .footer-widget .footer-social-area a:hover, .footer-area .footer-widget .footer-social-area a:focus {
          background-color: #db4437; }
    .footer-area .footer-widget .contact-address {
      position: relative;
      z-index: 1; }
      .footer-area .footer-widget .contact-address p {
        margin-bottom: 0; }
    .footer-area .footer-widget .footer-nl-area {
      position: relative;
      z-index: 1;
      margin-top: 30px; }
      .footer-area .footer-widget .footer-nl-area form {
        position: relative;
        z-index: 1; }
        .footer-area .footer-widget .footer-nl-area form input {
          width: 100%;
          height: 40px;
          background-color: #303334;
          border-radius: 0;
          padding: 0 15px;
          border: none; }
        .footer-area .footer-widget .footer-nl-area form button {
          position: absolute;
          width: 40px;
          height: 40px;
          background-color: #db4437;
          color: #ffffff;
          z-index: 10;
          top: 0;
          right: 0;
          border: none;
          cursor: pointer;
          -webkit-transition-duration: 500ms;
          -o-transition-duration: 500ms;
          transition-duration: 500ms; }
          .footer-area .footer-widget .footer-nl-area form button:hover, .footer-area .footer-widget .footer-nl-area form button:focus {
            background-color: #0f1112;
            color: #ffffff; }
  .footer-area .copywrite-area {
    position: relative;
    z-index: 1;
    padding: 10px 0;
    background-color: #0a0a0a; }
    .footer-area .copywrite-area .copywrite-text {
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 400;
      color: #a6a6a6; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .footer-area .copywrite-area .copywrite-text {
          font-size: 12px; } }
      @media only screen and (max-width: 767px) {
        .footer-area .copywrite-area .copywrite-text {
          font-size: 12px; } }
      .footer-area .copywrite-area .copywrite-text a {
        color: #ffffff;
        font-size: 14px;
        font-weight: 400; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .footer-area .copywrite-area .copywrite-text a {
            font-size: 12px; } }
        @media only screen and (max-width: 767px) {
          .footer-area .copywrite-area .copywrite-text a {
            font-size: 12px; } }
        .footer-area .copywrite-area .copywrite-text a:hover, .footer-area .copywrite-area .copywrite-text a:focus {
          color: #db4437; }
    .footer-area .copywrite-area .footer-nav {
      position: relative;
      z-index: 1; }
      .footer-area .copywrite-area .footer-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        @media only screen and (max-width: 767px) {
          .footer-area .copywrite-area .footer-nav ul {
            margin-top: 10px;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start; } }
        .footer-area .copywrite-area .footer-nav ul li a {
          display: inline-block;
          color: #a6a6a6;
          font-size: 14px;
          padding: 0 12px;
          font-weight: 400; }
          @media only screen and (min-width: 768px) and (max-width: 991px) {
            .footer-area .copywrite-area .footer-nav ul li a {
              font-size: 12px;
              padding: 0 8px; } }
          @media only screen and (max-width: 767px) {
            .footer-area .copywrite-area .footer-nav ul li a {
              padding: 0 5px;
              font-size: 12px; } }
          .footer-area .copywrite-area .footer-nav ul li a:hover, .footer-area .copywrite-area .footer-nav ul li a:focus {
            font-weight: 400;
            color: #db4437; }
        .footer-area .copywrite-area .footer-nav ul li:last-child a {
          padding-right: 0; }
        @media only screen and (max-width: 767px) {
          .footer-area .copywrite-area .footer-nav ul li:first-child a {
            padding-left: 0; } }

.contact-form-area {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .contact-form-area {
      margin-bottom: 50px; } }
  .contact-form-area label {
    color: #a6a6a6;
    font-size: 16px;
    margin-bottom: 15px; }
    @media only screen and (max-width: 767px) {
      .contact-form-area label {
        font-size: 14px; } }

.form-control {
  position: relative;
  z-index: 2;
  height: 48px;
  width: 100%;
  background-color: #393c3d;
  font-size: 12px;
  margin-bottom: 15px;
  padding: 10px 30px;
  color: #ffffff;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border: none;
  border-radius: 0; }
  .form-control:focus {
    box-shadow: none;
		background-color: #393c3d; 
		color: #ffffff;
	}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea.form-control {
  height: 140px; }

/*# sourceMappingURL=style.css.map */

.tooltip {
	position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}